<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <nav class="header-container">
            <div class="left-nav-logo">
                <p>LOGO</p>
            </div>
            <div class="right-nav">
                <ul class="common-link">
                    <li class="link-list"><a href="/login">Login</a></li>
                    <li class="link-list"><a href="#">Sign Up</a></li>
                </ul>
            </div>
        </nav>
        <div class="content-container">
            <h4>Welcome To Content Management</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente perferendis id illum cumque officiis harum fugiat sunt? Impedit nobis obcaecati, neque ex, omnis asperiores tempora cupiditate et a sapiente vel? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolor laboriosam quasi at consequuntur iste, sit voluptatum tempora a nulla corrupti labore beatae delectus vel reprehenderit nostrum maiores repellendus in. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem ea quos rerum cupiditate alias deleniti illum eum eaque! Vero pariatur temporibus aliquid ipsum earum, animi eius iusto eligendi alias?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quisquam corporis odio obcaecati nobis, illo dicta assumenda similique, repellat explicabo minima aut tenetur porro! Est natus eum molestiae animi inventore.</p>
        </div>
        <div class="footer-container">

        </div>
    </div>
</body>
</html>