@font-face {
    font-family: "Roboto Slab";
    src: url(../../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf) format('truetype');
}

.main-container{
    width: 100%;
    height: auto;
}

.header-container{
    width: 100%;
    height: 60px;
    background-color: rgb(9 95 201);
    position: inherit;
    display: flex;
    justify-content: space-between;
}

.left-nav-logo{
    width: 150px;
    height: -webkit-fill-available;
}

.left-nav-logo p{
    font-size: 25px;
    font-weight: bolder;
    color: white;
    font-family: 'Roboto Slab';
    margin: auto;
    width: 58%;
    padding: 13px;
}

.right-nav{
    width: 260px;
    height: auto;
}

.common-link{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.common-link li{
    color: white;
    height: 59px;
    width: 130px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.common-link li:hover{
    background-color: #f97d1c;
    transition: background-color 0.3s ease, font-size 0.3s ease;
}

.common-link li a{
    color: white;
    text-decoration: none;
    font-family: 'Roboto Slab';
}

.content-container{
    color: white;
    text-align: center;
    padding: 10px 0px;
    background-image: url('../../images/content.jpg');
    background-size: cover;
}

.content-container h4{
    font-family: 'Roboto Slab';
    font-size: 40px;
    padding: 10px 0px;
}
.content-container p{
    font-family: 'Roboto Slab';
    font-size: 20px;
    padding: 10px 0px;
}
.footer-container{
    width: 100%;
    height: 50px;
    background-color: rgb(151 152 154);
    bottom: 0;
    position: inherit;
}