<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <nav class="header-container">
            <div class="left-nav-logo">
                <p>LOGO</p>
            </div>
            <div class="right-nav">
                <ul class="common-link">
                    <li class="link-list"><a href="/login">Login</a></li>
                    <li class="link-list"><a href="#">Sign Up</a></li>
                </ul>
            </div>
        </nav>

        <div class="footer-container">

        </div>
    </div>
</body>
</html> -->
